doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='stylesheets/game.css')
    link(rel='stylesheet' href='stylesheets/chooseColor.css')
    script(defer, src="js/gameFrontEnd.js" type="module")
    title Home
script(src='/socket.io/socket.io.js')
.gameScreenContainer
    .discard
        a Discard Pile
        .card.discardCard
    .deck
        a.reshuffleText Deck Empty
        button.reshuffle(type="button") Reshuffle
        .deckContainer
    .unoButtonContainer
        button.unoButton(type="button") Uno!
    .youDidNotSayUnoButtonContainer
        button.youDidNotSayUnoButton(type="button") You didn't say Uno!
    #myHand.hand
    #opNameLeft.opponentName Sophia
    #leftOpponent.hand
        .card.leftOpponentCard
        .card.leftOpponentCard
        .card.leftOpponentCard
    #opNameTop.opponentName Troy
    #topOpponent.hand
        .card.topOpponentCard
        .card.topOpponentCard
        .card.topOpponentCard
    #opNameRight.opponentName Olivier
    #rightOpponent.hand
        .card.rightOpponentCard
        .card.rightOpponentCard
        .card.rightOpponentCard
    .container-chat
        .accordion-content
            .chat-field
            br
            .input-container
            input#input-field-chat.input-field-chat(type='text')
            button#input-button.input-button SEND
            br
            br
        button.accordion CHAT
        script(src='/scripts/chatbox.js')

    a.modal-open(href='#modal') Click To Open Regular Modal
    #modal.modal
        .modal-content
            a.modal-close(href='#' title='Close Modal') X
            h1 Choose a Color
            .modal-area
                button#redbttn.choosebttn Click Me
                button#bluebttn.choosebttn Click Me
                button#yellowbttn.choosebttn Click Me
                button#greenbttn.choosebttn Click Me





