doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='stylesheets/game.css')
    link(rel='stylesheet' href='stylesheets/chooseColor.css')
    script(defer, src="js/gameFrontEnd.js" type="module")
    title Home
script(src='/socket.io/socket.io.js')
.gameScreenContainer
    .discard
        a Discard Pile
        .card.discardCard
    .deck
        a.reshuffleText Deck Empty
        button.reshuffle(type="button") Reshuffle
        button.start-game START GAME
        .deckContainer
    .unoButtonContainer
        button.unoButton(type="button") Uno!
    .youDidNotSayUnoButtonContainer
        button.youDidNotSayUnoButton(type="button") You didn't say Uno!
    #myHand.hand
    #leftOpponentName.opponentName
    #leftOpponent.hand
    #topOpponentName.opponentName
    #topOpponent.hand
    #rightOpponentName.opponentName
    #rightOpponent.hand
    .wildcardButtonContainer
    .container-chat
        .accordion-content
            .chat-field
            br
            .input-container
            input#input-field-chat.input-field-chat(type='text')
            button#input-button.input-button SEND
            br
            br
        button.accordion CHAT
        script(src='/scripts/chatbox.js')
    button.leave-game LEAVE GAME
    a.modal-open(href='#modal')
    #modal.modal
        .modal-content
            a.modal-close(href='#' title='Close Modal') X
            h1 Choose a Color
            .modal-area
                button#redbttn.choosebttn RED
                button#bluebttn.choosebttn BLUE
                button#yellowbttn.choosebttn YELLOW
                button#greenbttn.choosebttn GREEN
    
