doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='stylesheets/game.css')
    script(defer, src="js/mainGame.js" type="module")
    title Home
.gameScreenContainer
    .discard
        a Discard Pile
        //button.addCard(type="button", onclick="discardCard()")
    .deck
        a.reshuffleText Deck Empty
        button.reshuffle(type="button") Reshuffle
        .deckContainer
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
            .card.deckCard
    #myHand.hand
    #opponentHand1.hand
        .card.leftCard
        .card.leftCard
        .card.leftCard
    #opponentHand2.hand
        .card.topCard
        .card.topCard
        .card.topCard
    #opponentHand3.hand
        .card.rightCard
        .card.rightCard
        .card.rightCard