<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/lobby.css">

    <title>Document</title>
</head>

<body>
    <div class="game_window">
        <!-- <div class="top">
            <h1>LOBBY</h1>
        </div> -->

        <!-- <div class="bot"> -->
        <div class="bot-left-side">
            <div class="container-chat">

                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias
                        necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed,
                        deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <br />

                    <div class="input-container">
                        <input type="text" class="input-field-chat" />
                        <button class="input-button">SEND</button>
                    </div>
                    <br />
                    <br />
                </div>
                <button class="accordion">CHAT</button>
                <script src="./scripts/chatbox.js"></script>
            </div>
        </div>


        <div class="bot-center">

            <div class="game-list">
                <div class="box-game-list">
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>
                    <div class="game-card">
                        <p>test</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="bot-right-side">
            <button class="new-game-button">CREATE NEW GAME</button>
        </div>
        <!-- </div> -->


</body>

</html>