<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/form.css">
    <title>Login</title>
  </head>

  <body>
    <div class="container header_container">
      <a class="photoLink company_header" href="/index">F O T O .</a>
    </div>
    <div class="container body_container">
      <div class="container body_container backgroundBlur">
        <div class="container login_container_header">
          <h1>Sign In</h1>
        </div>
        <div class="centerBox login_centerBox">
          <form
            method="POST"
            action="users/login"
            enctype="application/x-www-form-urlencoded"
          >
            <div class="field login">
              <div class="field usernameField">
                <input
                  class="field hoverField"
                  type="text"
                  placeholder="USERNAME"
                  id="username"
                  required
                  name="username"
                /><br />
              </div>
              <div class="field passwordField">
                <input
                  class="field hoverField"
                  type="password"
                  placeholder="PASSWORD"
                  id="password"
                  required
                  name="password"
                /><br />
              </div>
            </div>
            <button class="login login_button" type="submit">></button>
          </form>
          <a class="forgotInformation" href="">Login Issues?</a>
          <br />
          <a class="createAccount" href="/registration">Don't have an account?
            Create one!</a>
        </div>
      </div>
    </div>
  </body>

</html>