<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Home</title>
</head>

<body>
    <div class="unoHeader">
        <span id="header1">U</span>
        <span id="header2">N</span>
        <span id="header3">O</span>
    </div>
    <div class="bodyContainer" id="registration">
        <div id="bgBlur">
            <form id="registrationForm">
                <div class="formHeaderContainer" id="registrationHeaderContainer">
                    <div id="lHeader"><b>Register</b></div>
                </div>
                <div id="inputContainer">
                    <input type="text" placeholder="Enter Username" required="terms" name="uname" />
                    <input type="password" placeholder="Enter Password" required="terms" name="pword">
                    <input type="password" placeholder="Confirm Password" required="terms" name="pwordConfirm">
                    <button class="loginButton" type="submit">></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>